@charset "UTF-8";
@use 'mixin' as m;
html {
    scroll-behavior: smooth;
}
img {
    max-width: 100%;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

#task-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#task-input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
}

#add-task-button {
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}

#task-list {
    list-style-type: none;
    padding: 0;
    max-width: 400px;
    margin: 0 auto;
}

#task-list li {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

#task-list li.completed span {
    text-decoration: line-through;
    color: #aaa;
}

.delete-button {
    background-color: #e74c3c;
    border: none;
    color: #fff;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
}